h3 {
  margin: 0;
}

.flexSeparator {
  display: flex;
  flex-grow: 1;
}

.restaurantBannerCore {
  background-color: darkgray;
}

.restaurantBannerFoodChainBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.restaurantBannerName {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  font-size: 45px;
}

.restaurantBannerFoodChainLogo {
  justify-content: center;
  align-content: center;
  width: 50%;
  margin: 0;
}

.restaurantBannerAddressInfo {
  padding: 0 5% 0 5%;
}

.restaurantBannerAddressInfoUpper {
  display: flex;
  flex-direction: row;
}

.restaurantBannerAddressInfoLower {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.ratingFormat {
  display: flex;
  flex-direction: row;
}

.restaurantBannerRatings {
  display: flex;
  flex-direction: row;
}

.colorSchemeFriend {
  color: gold;
}

.colorSchemeGlobal {
  color: cyan;
}

.ratingHeader {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.whatDoesThisMean {
  font-size: 9px;
  padding: 0 1% 0 1%;
}

.restaurantInfoDualPanel {
  display: flex;
  flex-direction: row;
}

.restaurantHoursCore {
  display: flex;
  flex-direction: column;
  width: 170px;
}

.restaurantHoursHeader {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
}

.restaurantHoursTimeTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.restaurantHoursTimeSlot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.restaurantHoursTimeSlotHeader {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
}
